{% extends 'PortfolioDatabase/BasePortfolio.html'%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PortDetails</title>
</head>
<body>
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{port.port_imag}}" alt="" width="250" height="150">
        </div>
        <div class="col-md-6">
            <h1>{{port.port_name}}</h1>
            <h1>{{port.port_desc}}</h1>
            <a href="{% url 'delete_port' port.id %}" class="btn btn-primary">delete</a>
        </div>
    </div>
</div>
{% endblock %}}
</body>
</html>